<div class="persContainer">
    <div class="personalityCard">
        <h5 class="card-title">{{title}}</h5>
        <img src={{image_url}}>
        <p class="card-text">{{description}}</p>
    </div>
</div>

<script src="/js/personality.js"></script>