<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">gergergengkleng{{title}}</h5>
        <img src={{image_url}} alt="">
        <p class="card-text">{{description}}</p>
    </div>
</div>

<script src="/js/personality.js"></script>