<div class="container-signup">
<form id="signup" name="signup">
    <div class="form-group">
    <label for="email">Email:</label>
    <input class="text" name="email" id="email" type="email" />
    </div>
    <div class="form-group">
    <label for="name">Name:</label>
    <input name="name" id="name" type="text" />
    </div>
    <div class="form-group">
    <label for="password">Password:</label>
    <input name="password" id="password" type="password" />
    </div>
    <div class="signup-btn">
    <button class="btn btn-primary" type="submit" value="Sign Up">Sign Up</button>
    </div>
</form>
</div>

<script src="js/signup.js"></script>